In [59]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

In [66]:
engine = create_engine("sqlite:///C:\\Users\\yfawz\\OneDrive\\Desktop\\Datasets\\Lending Club\\lending-club-loan-data\\database.sqlite")
con = engine.connect()

In [67]:
table_names = engine.table_names()

In [68]:
rs = con.execute("SELECT * from loan")
result = rs.fetchall()

In [69]:
df = pd.DataFrame(result)
df.columns = rs.keys()

MemoryError:

In [56]:
con.close()

In [65]:
df.head()

   COUNT(*)
0   2260668

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Columns: 145 entries, id to settlement_term
dtypes: object(145)
memory usage: 553.1+ MB

In [16]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=145)

In [38]:
df.term.value_counts(normalize=True)

 36 months    0.696582
 60 months    0.303418
Name: term, dtype: float64