In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
energy = pd.read_csv("C:\\Users\\yfawz\\OneDrive\\Desktop\\ENERGY DATA\\energy_dataset.csv")

In [3]:
energy.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04

In [5]:
energy.columns

Index(['time', 'generation biomass', 'generation fossil brown coal/lignite',
       'generation fossil coal-derived gas', 'generation fossil gas',
       'generation fossil hard coal', 'generation fossil oil',
       'generation fossil oil shale', 'generation fossil peat',
       'generation geothermal', 'generation hydro pumped storage aggregated',
       'generation hydro pumped storage consumption',
       'generation hydro run-of-river and poundage',
       'generation hydro water reservoir', 'generation marine',
       'generation nuclear', 'generation other', 'generation other renewable',
       'generation solar', 'generation waste', 'generation wind offshore',
       'generation wind onshore', 'forecast solar day ahead',
       'forecast wind offshore eday ahead', 'forecast wind onshore day ahead',
       'total load forecast', 'total load actual', 'price day ahead',
       'price actual'],
      dtype='object')

In [33]:
energy['total load actual'][0:100]

0     25385.0
1     24382.0
2     22734.0
3     21286.0
4     20264.0
5     19905.0
6     20010.0
7     20377.0
8     20094.0
9     20637.0
10    22250.0
11    23547.0
12    24133.0
13    24713.0
14    24672.0
15    23528.0
16    23118.0
17    23606.0
18    26447.0
19    28020.0
20    29014.0
21    29571.0
22    29031.0
23    26798.0
24    27070.0
25    24935.0
26    23214.0
27    22540.0
28    22096.0
29    22066.0
       ...
70    28979.0
71    26863.0
72    25254.0
73    23620.0
74    22606.0
75    22191.0
76    21929.0
77    22195.0
78    24035.0
79    26807.0
80    28316.0
81    29871.0
82    30585.0
83    30772.0
84    30685.0
85    30429.0
86    28741.0
87    28249.0
88    28105.0
89    27908.0
90    27577.0
91    27418.0
92    28604.0
93    30346.0
94    28190.0
95    26270.0
96    25069.0
97    23390.0
98    21988.0
99    21182.0
Name: total load actual, Length: 100, dtype: float64

In [32]:
energy.iloc[:100,1:22].sum(axis=1)

0     28251.0
1     27818.0
2     26796.0
3     25223.0
4     24620.0
5     24231.0
6     23888.0
7     23434.0
8     23368.0
9     24129.0
10    25332.0
11    25743.0
12    26343.0
13    26640.0
14    26221.0
15    25702.0
16    25065.0
17    24632.0
18    25272.0
19    27181.0
20    28304.0
21    28973.0
22    28320.0
23    26158.0
24    32138.0
25    31100.0
26    30473.0
27    30745.0
28    30329.0
29    30159.0
       ...
70    30767.0
71    30652.0
72    28411.0
73    28181.0
74    27454.0
75    27243.0
76    26898.0
77    26959.0
78    27029.0
79    27126.0
80    27383.0
81    29652.0
82    31182.0
83    32279.0
84    32176.0
85    32090.0
86    30828.0
87    30699.0
88    30759.0
89    31259.0
90    31472.0
91    31353.0
92    31614.0
93    31642.0
94    29733.0
95    28080.0
96    26903.0
97    26104.0
98    25124.0
99        0.0
Length: 100, dtype: float64